.differente_hypnose{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-row: 1fr;
    margin: 2rem 0rem;
}
.block_hypnose{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
    color: #D9A5A0;
    font-size: 20px;
}
.block_hypnose img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}
.block_hypnose .contenu_hypnose p{
    font-size: 20px;
    text-align: justify;
    margin: 0rem 0rem 0rem 5rem;
    font-weight: 500;
}
.block_hypnose .contenu_hypnose h2{
    text-align: right;
    margin: 2rem 0rem;
}
.block_hypnose:nth-of-type(2n) .contenu_hypnose h2{
    text-align: left;
} 
.block_hypnose:nth-of-type(2n){
    flex-direction: row-reverse;
}
.block_hypnose:nth-of-type(2n) .contenu_hypnose p{
    /* text-align: right; */
    margin: 0rem 5rem 0rem 0rem;
}

@media screen and (min-width:1000px) and (max-width:1400px){
    .block_hypnose img{
        width: 20rem;
        height: 20rem;
    }
}
@media screen and (min-width:600px) and (max-width:1000px){
    .block_hypnose ,.block_hypnose:nth-of-type(2n){
        flex-direction: column;
    }
    .block_hypnose .contenu_hypnose p , .block_hypnose:nth-of-type(2n) .contenu_hypnose p{
        margin: 1rem 0;
    }
    .block_hypnose .contenu_hypnose h2 , .block_hypnose:nth-of-type(2n) .contenu_hypnose h2{
        text-align: center;
    }
}
@media screen and (min-width:350px) and (max-width:600px){
    .differente_hypnose{
        display: flex;
        flex-direction: column;
    }
    .block_hypnose ,.block_hypnose:nth-of-type(2n){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .block_hypnose .contenu_hypnose p , .block_hypnose:nth-of-type(2n) .contenu_hypnose p{
        margin: 1rem;
        
    }
    .block_hypnose img{
        width: 20rem;
        height: 20rem;
    }
    .block_hypnose .contenu_hypnose h2 , .block_hypnose:nth-of-type(2n) .contenu_hypnose h2{
        text-align: center;
    }
}