.differente_hypnose{
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-row: 1fr;
    margin: 2rem 0rem;
}
.block_hypnose{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}
.block_hypnose img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}
.block_hypnose p{
    font-size: 20px;
    text-align: justify;
    margin: 0rem 0rem 0rem 5rem;
}
.block_hypnose:nth-of-type(2n){
    flex-direction: row-reverse;
    
}
.block_hypnose:nth-of-type(2n) p{
    /* text-align: right; */
    margin: 0rem 5rem 0rem 0rem;
}