.msg_attente{
    position: absolute;
    top: 25vh;
    /* bottom: 25vh; */
    width: 50vw;
    left: 25vw;
    right: 25vw;
    background-color: #D9A5A0;
    z-index: 10;
    padding: 5rem;
    color: #F7EFE4;
    font-size: 25px;
    font-style: italic;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.msg_attente p{
    margin: 1rem 0rem;
}
.msg_attente p:first-child{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.tel,.email{
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg_attente p:nth-child(3),.msg_attente p:nth-child(4){
    margin: 1.5rem 0rem;
}
.container,form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
::placeholder { 
    color: #d9a5a0;
    opacity: 1; 
  }
.container{
    /* margin-top: 4rem; */
    opacity: 0.7;
}

.titre_contact{
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
    margin: 2rem 0rem;
    color: #D9A5A0;
    font-style: italic;
    font-weight: 500;
}
form{
    margin: 2rem 0rem;
}
form label{
    text-align: left;
    font-size: 25px;
}
form span{
    position: relative;
}
form span i{
    position: absolute;
    left: 20px;
    top: 35px;
    font-size: 25px;
}
input{
    width: 60vw;
    height: 3rem;
    padding: 2rem 2rem 2rem 2rem;
    outline: none;
    background-color: #F7EFE4;
    color: #d9a5a0;
    border: none;
    font-size: 25px;
    margin: 1rem 0rem;
}
textarea{
    margin: 1rem 0rem;
    resize:vertical;
    outline: none;
    background-color: #F7EFE4;
    color: #d9a5a0;
    font-size: 25px;
    border: none;
    width: 60vw;
    padding: 1rem 1rem 1rem 2rem;
}
button{
    margin:1rem 0rem;
    padding: 1rem;
    border: none;
    outline: none;
    background-color: #d9a5a0;
    border: 3px solid #F7EFE4;
    color: #F7EFE4;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.8s;
}
button:hover{
    background-color: #F7EFE4;
    border:3px solid #d9a5a0;
    color: #d9a5a0;
    transition: 1s;
}

@media screen and (min-width:600px) and (max-width:1000px) {
    .container{
        padding-top: 5rem;
    }
    .msg_attente{
        width: 85vw;
        left: 7.5vw;
        right: 7.5vw;
        padding: 2rem;
    }
    
}
@media screen and (min-width:350px) and (max-width:600px){
    .container{
        padding-top: 5rem;
    }
    .msg_attente{
        width: 85vw;
        left: 7.5vw;
        right: 7.5vw;
        padding: 2rem;
    }
}

