<div class="cercle_container">
    <div class="content">
        <div class="picture_me">
            <img src="../../../assets/photo_me.png" alt="photo_me.png">
            <h2>Sabrina</h2>
        </div>
        <div class="description_me">
            <!-- <h3>Qui suis-je ?</h3> -->
            <p>
                Sabrina Lefevre, je suis Hypnothérapeute, Sophrologue, et Coach de vie.
                <!-- Forte de mes expériences personnelles, je suis persuadée que dans certains moments de
                notre vie nous avons besoins d’être guidés pour faire face à des situations difficiles. 
                Rester seul c’est prolonger son état de mal-être. -->
            </p>
            <p>
                Ma volonté est de contribuer au bien-être et à l’épanouissement de mes patients grâce à
                mes capacités d’empathie, de respect de l’autre dans sa différence et à travers les difficultés
                qu’il peut rencontrer durant sa vie. 
            </p>
            <p>
                Mon accompagnement est basé sur le renforcement de la personne par le biais de la
                gestion des émotions. 
                Parce que l’hypnose que je pratique est belle, douce et respectueuse, elle est à l’opposé de
                la manipulation et des shows médiatiques et, surtout, dans bien des cas, elle peut être
                positivement surprenante et concourir ainsi à vous assister dans la quête de votre mieux-être.
            </p>
            <p>
                Permettez-moi de vous apprendre à utiliser vos pouvoirs hypnotiques et vos ressources
                personnelles afin de vous aider à aller mieux, à vous libérer et de vous autoriser, tout
                simplement, à vivre plus heureux. 
                Nous pourrons, si vous le voulez, naviguer ensemble vers le ou les objectifs qui sont les
                vôtres. 
                <!-- Cependant, vous resterez toujours le capitaine de votre embarcation. -->
            </p>
        </div>
    </div>
    <div class="cercle a"></div>
    <div class="cercle b"></div>
    <div class="cercle c"></div>
    <div class="cercle d"></div>
    <div class="cercle e"></div>
    <div class="cercle f"></div>
</div>
<!-- <div class="differente_hypnose">
    <div class="block_hypnose">
        <img src="" alt="">
        <div class="contenu_hypnose">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a 
                type specimen book. It has survived not only five centuries, but also the 
                leap into electronic typesetting, remaining essentially unchanged. It was 
                popularised in the 1960s with the release of Letraset sheets containing Lorem 
                Ipsum passages, and more recently with desktop publishing software like Aldus 
                PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
</div> -->
<h2 class="titre_type_hypnose">Les différentes type d'Hypnose</h2>
<app-differente-hypnose></app-differente-hypnose>
